*.xcuserstate
workspace.xml
.DS_Store
WalkLive/Server/*.class
WalkLive/dataProcess/*.class
*.plist
walklive.db
WalkLive/WalkLive.xcworkspace/xcuserdata/michelleshu.xcuserdatad/UserInterfaceState.xcuserstate
